/.yalc
/yalc.lock
node_modules/
/test-staging/
/lib
/coverage
/.ver-cache
/.docker-*-marker
/.build
# the pack file which may be hanging around
/*.tgz
# SENSITIVE DATA -------------------------------
# TODO: https://github.com/Liquid-Labs/liq-cli/issues/250
/npmrc.tmp
# END SENSITIVE DATA ---------------------------
